body {
  font-family: Arial, Helvetica, sans-serif;
}

li {
  list-style: none;
  color: #a2a7a9;
}

li::first-letter {
  text-transform: capitalize;
}

ul {
  margin: 0px;
  padding: 0px;
}

h1 {
  color: rgb(32, 33, 36);
  font-size: 30px;
  font-weight: 400;
  height: 22.1125px;
  line-height: 22.12px;
  padding-bottom: 4px;
}

h2 {
  color: rgb(32, 33, 36);
  font-size: 16px;
  font-weight: 400;
  height: 15px;
  line-height: 15px;
  padding-top: 7px;
  text-align: center;
}

h4 {
  color: rgb(32, 33, 36);
  font-size: 13px;
  font-weight: 400;
  height: auto;
  line-height: 15px;
  text-align: center;
  width: auto;
}

.flexbox-container {
  display: flex;
  border: 1px solid black;
  padding: 20px;
  border-radius: 5px;
  block-size: fit-content;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flexbox-item {
  width: fit-content;
}

.flexbox-item-0a {
  flex-grow: 1;
}
.flexbox-item-0b {
  flex-grow: 1;
}
.flexbox-item-0c {
  width: 100%;
}
.flexbox-item-1 {
  flex-shrink: 0;
}
.todays_weather_image {
  display: inline-block;
  height: 82px;
  margin-top: 5px;
  margin-bottom: 20px;
}
.flexbox-item-2 {
  flex-shrink: 0;
}
.todays_temperature {
  color: rgb(32, 33, 36);
  display: inline;
  font-size: 48px;
  font-weight: 400;
  height: auto;
  letter-spacing: normal;
  line-height: 90px;
  margin: 10px 5px;
}
.celsius_fareheit {
  color: rgb(32, 33, 36);
  display: inline;
  font-size: 16px;
  font-weight: 400;
  line-height: 67px;
  margin-top: 6px;
  padding-left: 0px;
  vertical-align: top;
}
.flexbox-item-3 {
  flex-grow: 3;
  margin: 23px 7px;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}
.flexbox-item-4 {
  flex-shrink: 0;
  margin: 10px;
}

.city_name {
  color: rgb(32, 33, 36);
  font-size: 35px;
  font-weight: 400;
  height: 26px;
  line-height: 15px;
  text-align: right;
  width: 326px;
}
.date_and_time,
.weather_description {
  color: rgb(112, 117, 122);
  font-size: 16px;
  font-weight: 400;
  height: auto;
  line-height: 20px;
  text-align: right;
  width: auto;
}

.flexbox-item-5 {
  width: 100%;
}

.minimum {
  color: rgb(112, 117, 122);
}

.units a {
  text-decoration: none;
  color: rgb(112, 117, 122);
}

.units .active {
  color: rgb(33, 33, 33);
  cursor: default;
  text-decoration: none;
}

.units .active:hover {
  text-decoration: none;
}
